.feynman__link {
  position: absolute;
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;
  right: 48px;
  top: 50%;
  color: #2f80ed;
  text-decoration: none;
  z-index: 1;
}
.feynman__link:hover {
  transition: .3s linear;
  color:#2f81ed8a;
}
