* {
  margin: 0;
  padding: 0;
}
a {
  color: #2f80ed;
  text-decoration: none;
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  background-color: #f2f2f2;
  height: 756px;
  min-height: 600px;
  /* выше установили ограничения для секции */
  justify-content: start;
  display: flex;
  position: relative;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo_place_header {
  margin: 30px 0 0 64px;
  align-self: start;
  position: absolute;
}

.header_block-title {
  margin: 0 0 0 64px;
  width: 730px;
  font-size: 102px;
  display: flex;
  align-self: center;
  position: absolute  ;

}
.header_block-subtitle {
  margin: 0 0 30px 64px;
  align-self: end;
  justify-content: end;
  width: 388px;
  font-size: 18px;
  position: absolute;
}
.header_main-illustration {
 width: 765px;
 height: 608px;
 position: absolute;
 right: 0;
 bottom: 0;
}
.header_square-pic {
  position: absolute;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
}


.description {
 display: flex;
 justify-content: space-around;
  
}
  .two-columns { 
    display: flex;
    justify-content: space-between;
    width: 80%;
    min-width: 784px;
    margin: 100px auto;
    

   
}
.two-columns-brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;


}
.two-columns-main-text {
  
  width: 80%;
  min-width: 784px;
  
}
.two_columns-paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}
.span-accent {
font-weight: bold;
}  

/*section digits*/

.digits_section-title {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: auto;
}

.section_title {
  
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  
}

.digits_section-subtitle {
  display: flex;
  justify-content: center;
  margin: 20px auto 60px auto;
}
.section_subtitle {
  
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: auto;
}

.table-cell {
  width: 250px;
  height: auto;
  list-style-type: none;
  margin-bottom: 60px ;
}

.table_heading {
  display: flex;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold ;
  list-style-type: none;
  margin-bottom: 20px;
  
}
.table-text {
  list-style-type: none;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.text-p {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/*section feynman*/

.feynman {
  padding: 0;
  margin-top: 0;
  padding-top: 50px;
  height: 890px;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  
}
.feynman__title {
  width: 648px;
  margin: 100px  auto 70px;
  text-align: center;
  position: relative;
  
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
}
.feynman__subtitle {
  position: relative;
  margin: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}
.feynman__link {
  position: absolute;
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;
  right: 48px;
  top: 50%;
  color: #2f80ed;
  text-decoration: none;
  z-index: 1;
}
.feynman__images {
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0;
  left: 0;
  z-index: 0;
}


/*Section Kaufman*/

.kaufman {
  background-color:#1f1f1f;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 90px;
  position: relative;
  box-sizing: border-box;
  
  
}

.kaufman-triangle {
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: 0;
  
}

.section-title__theme_dark {
  margin: auto;
  position: relative;
  text-align: center;
  margin-top: 90px;
  width: 60%;
  
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: white;
}

.section-subtitle__theme_dark {
  margin: auto;
  position: relative;
  text-align: center;
  margin-top: 20px;
  width: 60%;

  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
}

.table_theme_dark {
  padding: 0px;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  
  flex-direction: row;
  width: 1200px;
  align-content: flex-start;
  align-items: flex-start;

  
}
.table__cell {
    width: 200px;
    display: flex;
    margin: 80px auto 0px; 
    flex-direction: column;
    align-self: flex-start;
    border: #1f1f1f00 solid;
  
}
.table__heading {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
  
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__cell_margin {
  margin-top: 80px;
  margin-bottom: 90px;
}

/*Section footer*/

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  
}
.footer_columns {
  display: flex;
  margin: 0 auto;
  padding: 60px 0 40px 0;
  width: 90%;
  justify-content: space-between  ;
  min-height: 168px;
}
.logo__place-footer {
  width: 183px;
  height: 35px;
}
.footer_column__content-copyright {
  position: relative; 
  flex-basis: 711px;
  
}
.footer_author-text {
  position: absolute;
  flex-wrap: nowrap;
  left: 0;
  bottom: 0;

  line-height: 25px;
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-weight: normal;
  color: white;
}

.footer_column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.footer_column-links {
  padding-left: 0;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;  
  font-weight: normal;
  color: white;
  list-style-type: none;
}

.footer_social-icon {
  background-size: contain;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  list-style-type: none;
}
.link {
  color: white;
}