.khan__buy-link {
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  align-self: baseline;
  color: #2f80ed;
}
.khan__buy-link:hover {
  transition: .3s linear;
  color:#2f81ed8a;
}
